*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

:root{
    --bodyColor : #353535;
    --titleColor : #284b63;
    --bodyWhite: #ffffff;
    --btnColor : #3c6e71;
    --bgGrey : #d9d9d9;
}

html{
    scroll-behavior: smooth;
}

body{
    font-size: 16px;
    width: 100%;
}

p{
    font-size: 1rem;
    color: var(--bodyColor);
    max-width: 60ch;
    padding-bottom: 1em ;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 700;
    color: var(--titleColor);
}

h1.title{
    font-size: 5vw;
    padding-bottom: .2em ;
}

.title{
    padding-bottom: .8em;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: var(--titleColor);
}

.container{
    width: 100%;
    background: var(--bgGrey);
}

header{
    width: 100%;
    height: 100vh;
    padding: 2em;
    position: relative;
    
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: auto;
    right: auto;
    width: 100%;
    padding-top: .5em;
    padding-bottom: .5em;
}

.logo{
    font-size:1.2rem;
    font-weight: 900;
}

.toggle{
    display: none;
    text-transform: uppercase;
    font-size: .78rem;
    font-weight: 700;
    color: var(--titleColor);
    cursor: pointer;
}

ul.menu{
    display: flex;
    justify-content: space-between;
    width: 50%;
}

section{
    width: 100%;
}

.sub-container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2em;
    padding-bottom: 2em;
}

/* Banner */

.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;

}

.banner p{
    font-size: 1.5rem;
}

.btn-group{
    display: flex;
    justify-content: space-around;
    gap: .8em;
    margin-top: 1em;
    width: 100%;
    max-width: 60ch;
}

button.btn{
    width: 100%;
    padding: .8em 1.5em;
    border: 0;
    outline: 0;
    font-size: 1rem;
    border-radius: 3px;
    cursor: pointer;
}

.qoute{
   color: var(--bodyWhite); 
   background: var(--btnColor);
}

.explore{
    color: var(--btnColor);
    border: 2px solid var(--btnColor);
}

.sub-container .explore{
    max-width: 200px;
}


/* SERVICES */

h2{
    text-transform: uppercase;
    padding-bottom: 1em;
    text-align: center;
}

p.offer{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 0;
}

.row{
    display: flex;
    width: 100%;
    align-items: stretch;
}


.row:nth-child(even){
    flex-direction: row-reverse;
}

.col{
    width: 100%;
}

.col+.col{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--bodyWhite);
}

img{
    width: 100%;
    height: 100%;
}

/* 




picture{
    width: 100%;
    height: 100%;
    
}

picture img{
    width: 100%;
} */

.contact .col{
    background-color: var(--bodyWhite); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2em;
}


@media screen and (max-width: 760px){

    ul.menu{
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        background: var(--bodyWhite);
        
    }
    .sub-container{
        width: 90%;
    }
    p{
        font-size: .78rem;
    }

    .banner p{
        font-size: 1rem;
    }

    .btn-group{
        max-width: 100%;
    }
    .row, .row:nth-child(even){
        flex-direction: column;
    }
}


