*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

:root{
    --bodyColor : #353535;
    --titleColor : #284b63;
    --bodyWhite: #ffffff;
    --btnColor : #3c6e71;
    --bgGrey : #d9d9d9;
}

html{
    scroll-behavior: smooth;
}

body{
    font-size: 16px;
    width: 100%;
}

p{
    font-size: 1rem;
    color: var(--bodyColor);
    max-width: 60ch;
    padding-bottom: 1em ;
    letter-spacing: 1px;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 700;
    color: var(--titleColor);
    text-transform: uppercase;
}

h1.title{
    font-size: 5em;
    line-height: 1em;
    text-transform: uppercase;
    padding-bottom: .2em ;
}

.title{
    line-height: 1em;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: var(--titleColor);
}

.container{
    width: 100%;
    background: var(--bgGrey);
}

header{
    width: 100%;
    height: 100vh;
    position: relative; 
}

header video{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--bodyColor);
    mix-blend-mode: overlay;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: auto;
    right: auto;
    width: 100%;
    padding-top: .5em;
    padding-bottom: .5em;
    z-index: 100;
}

.scroll-nav{
    background-color: #ffffff;
    transition: background-color 200ms linear;
    box-shadow: 0 12.5px 10px rgba(0, 0, 0, 0.041),
    0 100px 80px rgba(0, 0, 0, 0.07)
;
}

.logo{
    font-size:1.2rem;
    font-weight: 900;
}

.toggle{
    display: none;
    background: none;
    border: 0;
    outline: 0;
    text-transform: uppercase;
    font-size: .78rem;
    font-weight: 700;
    color: var(--titleColor);
    cursor: pointer;
    z-index: 100;
}

ul.menu{
    display: flex;
    justify-content: space-between;
    width: 50%;
}

section{
    width: 100%;
}

.sub-container{
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2em;
    padding-bottom: 2em;
}

/* Banner */

.banner{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 6em;
    height: 100vh;
    z-index: 10;

}

.banner p{
    font-size: 1.1rem;
    color: var(--bodyWhite);
}

.btn-group{
    display: flex;
    justify-content: space-around;
    gap: .8em;
    margin-top: 1em;
    width: 100%;
    max-width: 60ch;
}

button.btn{
    width: 100%;
    padding: .8em 1.5em;
    border: 0;
    outline: 0;
    font-size: 1rem;
    border-radius: 3px;
    cursor: pointer;
}

.qoute{
   color: var(--bodyWhite); 
   background: var(--btnColor);
}

.explore{
    color: var(--btnColor);
    border: 2px solid var(--btnColor);
}

.sub-container .explore{
    max-width: 200px;
}


/* SERVICES */

h2{
    text-transform: uppercase;
    text-align: center;
    line-height: 1em;
}

p.offer{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    gap: 0;
}

.row{
    display: flex;
    width: 100%;
    align-items: stretch;
}


.row:nth-child(even){
    flex-direction: row-reverse;
}

.col{
    width: 100%;
}

.col+.col{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .7em; 
    padding: .8em;
    text-align: center;
    background: var(--bodyWhite);
}

img{
    width: 100%;
    height: 100%;
}


.contact .col{
    background-color: var(--bodyWhite); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2em;
}

.post-col{
    border-left: 1em solid var(--btnColor);
}


@media screen and (max-width: 900px){

    header{
        padding: 0;
    }

    nav{
    height: 4em;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    }

    .toggle{
        display: block;
    }

    ul.menu{
        position: absolute;
        display: none;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        top: 0;
        left: 0;
        gap: 1em;
        padding-left: 2em;
        width: 100%;
        height: 100vh;
        background: var(--bodyWhite);
        overflow-x: hidden;
        transition: 0.5s;
        z-index: 10;
        
    }
    /* .menu-open{
        transform: translate(-100%, -100%);
        transition: transform 0.3s ease-in;
    } */
    .sub-container{
        width: 90%;
    }
    p{
        font-size: .78rem;
    }

    h1.title{
        font-size: 3em;
        line-height: 1em;
        text-transform: uppercase;
        padding-bottom: .2em ;
    }

    .banner{
        padding-left: 2em;
    }

    .banner p{
        font-size: 1rem;
    }

    .btn-group{
        max-width: 100%;
    }
    .row, .row:nth-child(even){
        flex-direction: column;
    }
}


